extends layout

block content
  .container
    h1 마이 페이지

    .profile
      h2 내 정보
      p 이름: #{user.nickname}

    .community
      h2 커뮤니티 카테고리
      ul
        li
          a(href='/diary') 내가 쓴 글
        li
          a(href='/comment') 내가 쓴 댓글
        li
          a(href='/scraps') 스크랩한 글

    // "내가 쓴 글" 메뉴 클릭 시에만 글 목록 보이게 하기
    if currentPage === 'diary'
      .my-posts
        h2 내가 쓴 글 목록
        if posts.length > 0
          ul
            each post in posts
              li
                a(href=`/plantowner/community/free/${post.id}`)
                  span.title #{post.title}
                  span.date #{post.createdAt.split(' ')[0]} 
        else
          p No posts found.
