doctype html
html(lang="ko")
  head
    title My Page
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/styles.css") 
    block scripts
  body
    header
      nav
        ul
          

    main
      block content  // 여기에 각 페이지의 내용을 삽입
