//- extends layout

//- block content
//-   h1 Log In
//-   form(method="POST" action="/login")
//-     div
//-       label(for="ID") ID: 
//-       input(type="text" name="username")
//-     br
//-     div
//-       label(for="password") Password: 
//-       input(type="password" name="password")
//-     br
//-     button Log In


//- <!DOCTYPE html>
//- <html lang="en">
//- <head>
//-     <title>Log In</title>
//- </head>
//- <body>
//-     <form method="POST" action="/login">
//-         <label for="ID">ID: </label><input type="text" name="username" />
//-         <br/>
//-         <label for="password">Password: </label><input type="password" name="password" />
//-         <br/>
//-         <button>Log In</button>
//-     </form>
//- </body>
//- </html>